body{
    background-color: #ECE8DD;
}
hr{
    background-color: white;
    border-style: none;
    border-top: dotted;
    border-color: grey;
    border-width: 5px;
    
    width: 10%;
}
h3{
    color: #579BB1;
}
h1{
    color: #579BB1;
}
img{
    height: 150px;
}
img:hover{
    
    background-color: lightgrey;
}

        